{% extends "base.html" %}

{% block content %} 
   <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th>Kategoria</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{product['id']}}</td>
                    <td>{{product['title']}}</td>
                    <td>{{product['category']}}</td>
                </tr>
            {% endfor %}
        </tbody>
   </table>
{% endblock %}